body{
	background-color: #6e50be;
	text-align: center;
	align-content: center;
	font-size: 2.5vmax;
	font-family: 'Roboto Mono', monospace;
	text-decoration: none;
}

div{
	display: inline-block;
	width: fit-content;
	padding: 5vmax;
	background-color: ivory;

	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

ul{
	display: inline;
	list-style: none;
}

hr{
	border-top: 1px solid black;
}

a{
	color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}