html{
    background-color: #6e50be;
}

body{
    font-size: 0.9vmax;
    font-family: 'Roboto Mono', monospace;
    background-color: ivory;
    margin: 2em;
    padding: 4em;
}

h2, h3{
    font-style: italic;
}

a{
	color: black;
}

img{
    height: 30vmax;
    width: 30vmax;
}

.back{
    background-color: ivory;
}

.contents{
    padding: 0;
    list-style-type: none;
    text-align: center;
}

li{
    margin: 1em;
}

.centered{
    text-align: center;
}
